<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
  <!--<div class="container-fluid">-->
    <div class="navbar-header">
      <img alt="Grocery Logo" class="logoImage" src="../assets/images/img_grocerylistchecker_logo_hi-res.png" />
      <label class="logotitle">GROCERY LIST CHECKER</label>
      <div style="float: right;">
		<a class="login" id="register">Register</a>
		<label class="login" id="login split">|</label>
		<a class="login" id="login">Login</a>
	   </div>
    </div>
  </nav>
