<nav class="navbar-top" ng-controller="NavbarCtrl">
  <div class="nav-container-fluid">
    <div class="navbar-label">
       <h1>Is what your eating safe?</h1>
 <h2>Check Your Grocery List</h2>
 <h3>With the Grocery List Checker, find important food recalls in your area and keep your family safe.
    </div>

    <div class="top-recalls" id="bs-example-navbar-collapse-6">
    <div class="recall-label">
    Top Product Recalls
    </div>
    <div class="top-list">
      <ul class="recall-items">
        <li><a ng-href="#">Item 1</a></li>
        <li><a ng-href="#">Item 2</a></li>
         <li><a ng-href="#">Item 3</a></li> 
         <li><a ng-href="#">Item 4</a></li>
      </ul>
      </div>
   </div>

        <div class="nav-search">
            <i class="fa fa-search fa-lg form-control-feedback"></i>
           <input id="criteria" class="form-control search" placeholder="search" type="search" ng-enter="search()" ng-model="criteria" />
        </div>
        or
<button>Update List</button>
<button>Scan QR</button>

 
  </div>
</nav>
