@font-face {
	font-family: Avenir;
	src: url("../assets/font/Avenir.otf");
}
.navbar-header{
    background: black;
    font-family: Avenir;
    font-size: 12pt;
    color: White;   
    width: 100%;
	padding-top: 5px;
        .logotitle{
            text-align: left;
            float: left;
        }

        .login{
            padding-right: 20px;
            //float: right;
			color: white;
            }
}

.navbar-main{
    background: #249b40;
    font-family: Avenir;
    color: White;
    //width: 100%;
    padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 5%;
	padding-right: 8%;
     h1{
    font-size:68pt;
    font-family: Avenir;
      }
      h2{
    font-size: 36pt;
    font-family: Avenir;
	padding-top: 2%;
    // float: left;

        }
        p{
    font-size: 26pt;
    font-family: Avenir;
	padding-top: 3%;
	//padding-right: 20px;
	}

	.header-logo{
		width:20%;
	display:inline-block;
	vertical-align:top;
	float: right;
	padding-top: 5%;
		img{
			width: 300px;
			height: auto;
			min-width: 40%;
			//padding-top: 30%;
		}
	}
	.header-text{
	  //width:68%;
	  display:inline-block;
	  vertical-align:top;
		padding-right: 3%;
	}

}




.navbar-search{
              background: #249b40;
              font-family: Avenir;
              color: White;
            padding-top: 2%;

			h2 {
			   width: 30%; 
			   text-align: center; 
			   border-bottom: 3px solid white; 
			   line-height: 0.1em;
			} 

			h2 span { 
				background:#249b40; 
				padding:0 10px; 
				font-size: 18pt;
			}
			
           .scan, 
          .upload{  
          background-color:#fff;
          border:solid 1px #ccc;
          border-radius:15px;
          font-size:1.3em;
          color:#333;
          width:140px;
          padding:10px;
          margin-top:20px;
		  margin-right: 20px;
		  margin-left: 20px;
            &:hover{
              background-color:#000;
              color:#fff;
            }
          }

}
 




input.search {
  text-indent: 15px;
}

.fa-search {
  position: absolute;
  top: 10px;
  left: -5px;
}

img.logoImage {
  max-height: 20px;
  width: auto;
  max-width: 100%;
  float: left;
  padding-right: 5px;
  padding-left: 30px;
}


.navbar-search
{
    background: #249b40;
    font-family: Avenir;
    color: White;
  padding: 2% 0%;
}


.top-recalls{
 background: #b6b696;

        .recall-label{
            display:inline-block;
                vertical-align: top;
                padding:2%;
                width:30%;
                overflow:visible;
              h2{
                width:250px;
                font-size: 32pt;
				  color: White;
				  border-bottom: 5px solid white;
				  text-transform: uppercase;
				  text-align: left;
				  margin-left:30px;
          }
}


.top-list{
    display:inline-block;
    vertical-align: middle;
    width:69%;
	padding-top: 2%;
	padding-left: 5%;
	padding-right: 5%;
ol {
  color:#fff;
    display: block;
    //padding: 0 26px;
    list-style: none;
    overflow: hidden;
    counter-reset: numList;
    li {
        width: 230px;
        margin-right: 80px;
        margin-bottom: 20px;
        float: left;
        position: relative;
        left:50px;
		padding-left: 3%;
              a{
        color:#fff;
        font-size:1.2em;
      }
    }

 li:before {
    counter-increment: numList;
    content: counter(numList);  
    position: absolute;
    left: -70px;
    font: 50px sans-serif;
    text-align: center;
    color: #fff;
    width: 60px; height: 60px;
    border:1px solid #fff;   
    -moz-border-radius: 999px;
    border-radius: 999px
          }
      }

}

}



@media all and (max-width: 961px) {
  .top-recalls{
 background: #b6b696;

        .recall-label{
            display:inline-block;
                vertical-align: middle;
                width:100%;

              h2{
				font-size: 20pt;
          }
}


.top-list{
    display:inline-block;
    vertical-align: middle;
    width:100%;

}

}

.navbar-main{


.header-logo{
width:100%;
img{
  width:50%;
}

}
.header-text{
width:100%;
}
     h1{
    font-size:30pt;
    font-family: Avenir;
    padding: 5 5px;
      }
      h2{
    font-size: 15pt;
    font-family: Avenir;
    // float: left;

        }
        p{
    font-size: 10pt;
    font-family: Avenir;

  }
}




}
@media all and (max-width: 641px) {
























}
@media all and (max-width: 481px) {
}
@media all and (max-width: 320px) {


}


/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
