
@media all and (max-width: 961px) {
.navbar-search
{
    background: #000;
    font-family: Avenir;
    color: White;
  padding: 2% 0%;
}
}
@media all and (max-width: 641px) {
.navbar-search
{
    background: #FC0;
    font-family: Avenir;
    color: White;
  padding: 2% 0%;
}
}
@media all and (max-width: 481px) {
.navbar-search
{
    background: #fff;
    font-family: Avenir;
    color: White;
  padding: 2% 0%;
}
}
@media all and (max-width: 320px) {
.navbar-search
{
    background: #000;
    font-family: Avenir;
    color: White;
  padding: 2% 0%;
}
}