@charset "UTF-8";
/* CSS Document */
.container{
	width:80%;
	border:solid 1px #006600;}

.nav-container-fluid{
	background-color:#249b40;
	color:#fff;}
.navbar-label{
	
	}	

.nav-search{
	
	}	

.top-recalls{
	background-color:#b6b696;}	
	
		

.left-col{
	width:48%;
	display:inline-block;
	vertical-align:top;
	}
	
.left-col .grocery-list{
	}

.left-col .grocery-list .food-group{
	}

.left-col .grocery-list .food-group .food-items{
	background-color:#f4f4e9;
	}
.left-col .grocery-list .food-group .food-items li{
	}	
	


	
	

.right-col{
	width:48%;
	display:inline-block;
	vertical-align:top;
	background-color:#e5e5d1;}
	

